{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="overlay"></div>
        <div class="container header-container">
            <div class="row">
                <div class="col">
                    <h2>Shopping Bag</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div table-responsive>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">img</th>
                                    <th scope="col">Product name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                                <tbody>
                                    <td class="p-1 w-25">
                                        <img src="{{ item.product.image.url }}" class="img-fluid" alt="image of {{item.product.name|striptags}}">
                                    </td>
                                    <td>{{ item.product.name }}</td>
                                    <td>£{{ item.product.price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>£{{ total }}</td>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5"> Your bag is empty</p>
                    <a href="{% url 'products' %}" class="btn rounded-0 btn-lg">
                        <span class="text-uppercase">Contiune Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}