{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-8 col-md-7 mt-5">
                <h1 class="display-4">
                    Checkout completed!
                </h1>
                <p>Thank you for shoping with us!</p>
                <div class="my-5">
                    <h4>
                        your oder number: {{ order.order_number }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}