/* html and body bassed on code institue boutique ado project  */

html {
    height: 100%;
}

body {
    background: url('/media/site-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ---------------------------------fonts */

.title-font-a {
    font-family: 'Montserrat Alternates', sans-serif;
}

.title-font-b {
    font-family: 'Work Sans', sans-serif;
}

.title-font-a, .title-font-b {
    font-size: 300%;
    color: #2a0406;
}

/* ---------------------------------header */

.search-bar {
    width: 80%;
}

/* -----------------------------home page */

.home-pg-text {
    color: #2a0406;
}

.home-shop-btn {
    background: black;
    color: white;
}