/* html and body bassed on code institue boutique ado project  */

html {
    height: 100%;
}

body {
    background: url('/media/site-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

/* covers background image in body */
.overlay {
    position: fixed; /* Sits on top of the page content */
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(217,200,191,255);
    z-index: -1; 
  }

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ---------------------------------fonts */

.title-font-a {
    font-family: 'Montserrat Alternates', sans-serif;
}

.title-font-b {
    font-family: 'Work Sans', sans-serif;
}

.title-font-a, .title-font-b {
    font-size: 300%;
    color: #2a0406;
}

/* ---------------------------------header */

.search-bar {
    width: 80%;
}

/* -----------------------------home page */

.home-pg-text {
    color: #2a0406;
}

.home-shop-btn {
    background: black;
    color: white;
}

/* -----------------------------cards */

.card {
    margin: 5px auto 0 auto;
    float: none;
    width: 322px;
}

.card-main {
    height: 484px;
    margin-bottom: 5px;
}

.card-image {
    height: 50%;
    margin: auto auto;
    object-fit: cover;
    position: center center;
}