
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mr-auto w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">All Candles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        {% if request.user|has_group:"site_admin" %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_product' %}">Add Product</a>
        </li>
        {% endif %}
    </ul>
</div>
