{% load static %}
<!-- code on this page is modled on the base.html code fomr code institute boutique ado project -->
<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
      <meta http-equiv="x-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block corecss %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    {% endblock %}

    {% block extracss %}
    {% endblock %}

    {% block corejs %}
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/b75ce917d6.js" crossorigin="anonymous"></script>
      {% endblock %}

    {% block extrajs %}
    {% endblock %}
    <title>CandleKeep</title>
  </head>
  <body>
    <!----------------------------------------------------------------------------------------- main site header -->
    <header class="container-fluid fixed_top bg-white">
      <div class="row">
        <a href="{% url 'home' %}">
          <div class="col-12 col-lg-4 my-auto text-center text-lg-left"><span class="title-font-a">Candle</span><span class="title-font-b">Keep</span></div>
        </a>
        <div class="col-12 col-lg-4 my-auto">
          <!------------------------------------------------------------- product search bar -->
          <form action="{% url 'products' %}" method="get">
            <div class="input-group">
              <div class="form-outline search-bar">
                <input class="form-control" name="q" type="text" placeholder="Search...">
              </div>
              <div class="input-group-append">
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-lg-4 my-auto">
          <!--------------------------------------------------------- user profile navigation -->
          <ul class="list-inline list-unstyled">
            <li class="list-inline-item dropdown">
              <a href="#" class="nav-link" id="user-choices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p>Account</p>
              </a>
              <div class="dropdown-menu" aria-labelledby="user-choices">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_admin %}
                    <a href="#" class="dropdown-item">Manage Site</a>
                    <div class="dropdown-divider"></div>
                  {% endif %}
                  <a href="#" class="dropdown-item">My Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
              </div>
            </li>
            <!------------------------------------------------------- shopping bag link -->
            <!-- code taken from code institue boutique ado project -->
            <li class="list-inline-item">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'bag_view' %}">
                  <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                            £{{ grand_total|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </p>
                  </div>
              </a>
            </li>
          </ul>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          {% include 'includes/main-nav.html' %}
        </nav>
      </div>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>